.mx-wiki-hidden {
    display: none;
}

.mx-wiki-input {
    height: 1.6rem;
    padding-left: 2.2rem;
    color: inherit;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 0.1rem;
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 177.78%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
